

.closed-menu {
    display: none;
}

.menu-button {
    height: 10vmin;
}

.menu-area {
    display: block;
    .opened-menu {
        display: block;
        position: absolute;
        background-color: #282c34;
    }
}