

.closedMenu {
    display: none;
}

.menuButton {
    height: 10vmin;
}

.menuArea {
    display: block;
}

.openedMenu {
    display: block;
    position: absolute;
    background-color: #282c34;
    a {
        color: white;
        &:hover {
            color: skyblue;
        }
    }
    li {
        list-style: none;
    }
}